# Devlopment Configuration
NODE_ENV = DEVELOPMENT
# PRODUCTION | DEVELOPMENT
PORT=8000

# POSTGRES Database Configuration
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME= 
DATABASE_PASSWORD= 
DATABASE_NAME= 

# SEED ADMIN PASSWORD
ADMIN_PASSWORD = 

#JWT TOKEN
JWT_SECRET = 
JWT_TOKEN_EXPIRE = 

#MAIL SERIVCE
MAIL_HOST = smtp.gmail.com
MAIL_PORT = 587
EMAIL_USER = 
EMAIL_PASSWORD =

# HOSTED PORT
BACKEND_URL = 

CORS_ORIGIN = 